@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ 
  font-family: 'EB Garamond', serif;
  background: url('https://www.hct.org/Online/branding/images/background.png') repeat #470000; 
}
h1 { font-size: 1.5em; margin: 10px; }
.main-container {
  overflow: hidden;
  width: 100%;
}
.mainWrap {
  width: 1170px;
  margin: 0 auto;
}
.splash {
  max-width: 100%;
  width: 1170px;
  height: auto;
}
.now-playing-head {
  width: 100%;
  height: 10%;
  background-color: #F0E4B7;
  font-size: 100px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: #6E3B22;
}

/* @media (min-width: 1200px)
{
.mainWrap {
    width: 1170px;
}

}

@media (min-width: 992px)
{
.mainWrap {
    width: 970px;
}

}
@media (min-width: 768px)
{
.mainWrap {
    width: 750px;
}
} */

.icon {
  background: transparent;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color: #f0e4b7;
  background-color: #6e3b22;
  border-color: #58270a;
}
a, .handCursor {
  cursor: pointer;
  outline: 0px solid transparent;
}
a {
  background: transparent;
  text-decoration: none;
}
/****** Style Star Rating Widget *****/
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";

}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/* Orange star ratings */
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  zoom: 1.2;
}
  .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
    
  }
  /*==================== Results ================== */
  .results-overall-wrap {
        width: 1170px;
        background: #F6EDC8;
  }

  .results-wrap {
    width: 973px;
    margin: 0 auto;
    background: #F6EDC8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
/* ======== Card ======== */
.card {
  height: 300px;
  width: 30%;
  background-color: #F0E4B7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
.ratingsCardHead {
  display: flex;
  align-items: center;
  
}

.rating-author {
  font-size: 1.1rem;
}